.navbar{
    width: 100%;
    height: 50px;
    background: gray;
    padding: auto;
    
}
.carrusel{
    width: 100%;
    height: 350px;
    background: red;
    padding: auto;
}
.doble{
    width: 100%;
    height: 300px;
    padding: auto;
}
.seccion1{
    width: 50%;
    height: 150px;
    background: rosybrown;
}
.seccion2{
    width: 50%;
    height: 150px;
    background: black;
    position: relative;
    float: right !important;
}
.seccion3{
    width: 100%;
    height: 190px;
    background: black
}
.footer{
    width: 100%;
    height: 50px;
    padding: auto;
    background: green;
}